html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100vh;
}

.main-layout {
  display: flex;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.sidebar {
  width: 100px;
  flex-shrink: 0;
  background-color: #333;
  color: white;
  overflow-y: auto;
  z-index: 1001;
}

.content-area {
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

.app-container {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.app-toggle-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  z-index: 1000;
}
.main-login-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 16px;
  background: #4a90e2;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  z-index: 2000;
}

.my-page-button {
  position: fixed;
  top: 20px;
  right: 110px;
  padding: 10px 16px;
  background: #4a90e2;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  z-index: 2000;
}
.search-overlay {
  position: absolute;
  top: 25px;
  left: 110px;
  width: 350px;
  height: 40px;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  border-color: #4a90e2;
  padding: 0 15px;

  display: flex;
  align-items: center;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18);

  z-index: 4000;
  transition: all 0.3s ease;
}

.search-overlay.is-menu-open {
  left: 515px;
  width: 350px;
  border-radius: 12px 12px 0 0;
  top: 15px;
  box-shadow: none;
  border-bottom: 1px solid #f0f0f0;
}
