.toggle-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 60px;
  background-color: #fff;
  color: #4f9cf9;
  border: 2px solid #4f9cf9;
  border-left: none;
  cursor: pointer;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.05);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 10;
  transition: all 0.3s ease;
}

.toggle-button:hover {
  background-color: #4f9cf9;
  color: white;
  width: 32px;
  right: -32px;
}

.icon {
  width: 16px;
  height: 16px;
}
